.App {
  text-align: center;
  font-family: 'Oxygen',Roboto,  sans-serif;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
  border-color: azure;
  border-radius: 2px;
  
}





.App-header {
  background-color:white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}


.rate {
  font-weight: 600;
  font-size: x-large ;
  color: #082c34;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
